.chat {
  &_grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.35fr 1fr;
    grid-template-rows: auto 1fr;
    padding: 2rem;
  }

  &_details {
    display: flex;
    justify-content: space-between;
    grid-column: 2/3;
    align-items: center;
    background-color: #ddd;
    padding: 0 1.2rem;

    &-name {
      display: flex;
      align-items: center;
      gap: 1.4rem;

      &--img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
      }
      &--text {
        font-size: 1.4rem;
        text-transform: uppercase;
        margin: 0;
      }
    }
  }
  &_logout {
    background-color: #f36d6d;
    margin-left: 1.4rem;
    border-radius: 2rem;

    padding: 1.2rem 1.6rem;

    border: none;
  }
  &_header {
    font-size: 1.6rem;
    grid-column: 1/2;
    padding: 2rem 0;
    background-color: #2b2d42;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    grid-row: 1/2;

    &:hover {
      cursor: pointer;
    }
  }

  &_chats {
    grid-column: 1/2;
    padding: 1rem;
    background-color: #8d99ae;

    grid-row: 2/3;
    overflow-y: scroll;
    animation: showUsers cubic-bezier(0, 0.46, 1, 1.17) 3s;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  &_window {
    grid-column: 2/3;
    position: relative;
    padding: 2rem;
    background-color: #f4f1de;
    grid-row: 2/3;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &_names {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
    border-radius: 40px 0 0 40px;
    background-color: #fff;
    // margin-bottom: 1rem;
    padding: 1rem;

    &-img {
      &--img {
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
      }
    }
    &-details {
    }
  }
  &_send {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1rem;

    &-input {
      width: 90%;
      padding: 1rem;
      border-radius: 20px;
      border: 1px solid #ddd;

      &:focus {
        border: 1px solid #666;
        outline: none;
      }
    }

    &-icon {
      height: 2rem;
      width: 2rem;
    }
    &-button {
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #ddd;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      &:hover {
        animation: animate infinite 0.4s;
      }
    }
  }

  &_more {
    padding: 0.7rem 1.4rem;
    border-radius: 12px;
    position: absolute;
    top: 87%;
    left: 21%;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: #ff00ae;

    &:hover {
      cursor: pointer;
      background-color: #ff00aecc;
    }
  }
}

@keyframes showUsers {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate {
  0% {
    rotate: -60deg;
    transform: scale(1.1);
  }

  50% {
    rotate: 0deg;
    transform: scale(1);
  }

  100% {
    rotate: -60deg;
    transform: scale(1.1);
  }
}
.messages {
  display: flex;
  flex-direction: column;
  // gap: 2rem;
  &_content {
    display: flex;
  }

  &_sent,
  &_received {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    &-text {
      font-size: 1.6rem;
    }
  }
  &_sent {
    margin-left: auto;
    background-color: red;
    position: relative;
    &-help {
      font-size: 1rem;
      color: #777;
      margin-left: auto;
      margin-top: 0;
    }
    &::before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;

      right: 10%;
      top: 80%;
      border-left: 0.6rem solid transparent;
      border-right: 1.6rem solid red;
      border-top: 0.6rem solid red;
      border-bottom: 1.6rem solid transparent;
    }
  }
  &_received {
    background-color: pink;
    position: relative;

    &-help {
      font-size: 1rem;
      color: #777;
      margin-left: auto;
      margin-top: 0;
    }

    &::after {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 1.6rem solid pink;
      border-right: 0.6rem solid transparent;
      border-top: 0.6rem solid pink;
      border-bottom: 1.6rem solid transparent;
      left: 10%;
      top: 80%;
    }
  }
}
