<div class="chat_grid">
  <div class="chat_header" *ngIf="!showAllContacts">Conversation</div>
  <div
    class="chat_header"
    (click)="showAllContacts = false"
    *ngIf="showAllContacts"
  >
    <span> &LeftArrow;</span> Back
  </div>
  <div class="chat_details">
    <div class="button">
      <button class="chat_logout" *ngIf="localStorageEmail" (click)="logout()">
        logout
      </button>
    </div>
    <div class="chat_details-name" *ngIf="currentUser[0]">
      <img
        class="chat_details-name--img"
        [src]="currentUser[0].profile_photo"
        [alt]="currentUser[0].name"
      />
      <p class="chat_details-name--text">{{ currentUser[0].name }}</p>
    </div>
  </div>

  <div class="chat_chats">
    <div
      class="chat_names"
      *ngFor="let user of showUsers"
      (click)="revealDetails(user)"
    >
      <div class="chat_names-img" *ngIf="!showAllContacts">
        <img
          [src]="user.profile_photo"
          [alt]="user.name"
          class="chat_names-img--img"
        />
      </div>
      <div class="chat_names-details" *ngIf="!showAllContacts">
        <p>{{ user.name }}</p>
      </div>
    </div>
    <div class="chat_more" (click)="showAllContacts = true"><span>+</span></div>
  </div>
  <div class="chat_chats" *ngIf="showAllContacts">
    <div
      class="chat_names"
      *ngFor="let user of userDetails"
      (click)="revealDetails(user)"
    >
      <div class="chat_names-img">
        <img
          [src]="user.profile_photo"
          [alt]="user.name"
          class="chat_names-img--img"
        />
      </div>
      <div class="chat_names-details">
        <p>{{ user.name }}</p>
      </div>
    </div>
    <div class="chat_more" (click)="showAllUsers()"><span>+</span></div>
  </div>

  <div class="chat_window">
    <div class="messages" *ngIf="chatMessages && chatMessages.length > 0">
      <div class="messages_content" *ngFor="let message of chatMessages">
        <div
          *ngIf="message.messageSent"
          [ngClass]="
            message.messageSent ? 'messages_sent' : 'messages_received'
          "
        >
          <span class="messages_received-text">{{ message.message }}</span>
          <span class="messages_received-help">{{
            message.time | date : "shortTime"
          }}</span>
        </div>
        <div
          *ngIf="message.messageReceived"
          [ngClass]="
            message.messageReceived ? 'messages_received' : 'messages_sent'
          "
        >
          <span class="messages_received-text">{{ message.message }}</span>
          <span class="messages_received-help">{{
            message.time | date : "shortTime"
          }}</span>
        </div>
      </div>
    </div>
    <form
      class="chat_send"
      *ngIf="chatMessages"
      [formGroup]="message_form"
      (submit)="onSubmit()"
    >
      <input type="text" class="chat_send-input" formControlName="message" />
      <button type="submit" class="chat_send-button">
        <img
          src="../../assets/imgs/icons8-send-30.png"
          alt="Send"
          class="chat_send-icon"
        />
      </button>
    </form>
  </div>
</div>
