<div class="chat_grid">
  <div class="chat_header">Conversation</div>
  <div class="chat_chats">
    <div
      class="chat_names"
      *ngFor="let user of showUsers"
      (click)="revealDetails(user)"
    >
      <div class="chat_names-img">
        <img
          [src]="user.profile_photo"
          [alt]="user.name"
          class="chat_names-img--img"
        />
      </div>
      <div class="chat_names-details">
        <p>{{ user.name }}</p>
      </div>
    </div>
  </div>
  <div class="chat_window">
    <div class="messages" *ngIf="chatMessages && chatMessages.length > 0">
      <div class="messages_content" *ngFor="let message of chatMessages">
        <div
          *ngIf="message.messageSent"
          [ngClass]="
            message.messageSent ? 'messages_sent' : 'messages_received'
          "
        >
          <!-- Style for sent message -->
          <span class="messages_received-text">{{ message.message }}</span>
          <span class="messages_received-help">{{
            message.time | date : "shortTime"
          }}</span>
        </div>
        <div
          *ngIf="message.messageReceived"
          [ngClass]="
            message.messageReceived ? 'messages_received' : 'messages_sent'
          "
        >
          <!-- Style for received message -->
          <span class="messages_received-text">{{ message.message }}</span>
          <span class="messages_received-help">{{
            message.time | date : "shortTime"
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
